.profile-page {
  width: 100%;
}

.profile-view {
  margin: 2rem 2rem 0 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #caebf2;
  min-height: 70vh;
  border-radius: 20px;
  box-shadow: 0 1px 3px #00000073;
}

.user-name {
  font-size: 2rem;
  color: #ff3b3f;
  text-shadow: 1px 0px rgb(119 119 119 / 74%);
  font-weight: 800;
  margin: 0 0 -.05rem 0;
}

.profile-type {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #00000073;
  text-shadow: 1px 0px rgb(255 255 255 / 74%);
  font-weight: 800;
}

.type-name {
  margin-top: -.5rem;
}

.type-link {
  color: #00000073;
}

.link-container {
  margin-top: -.8rem;
}

.follow-btn,
.unfollow-btn {
  height: 2rem;
  background-color: #76CC66;
  margin: 2rem 1rem 1rem 1rem;
  border-radius: 20px;
  padding: 0 1rem 0 1rem;
  font-weight: bold;
  color: white;
  border: none;
  box-shadow: 0 1px 3px #00000073;
}
