.ennealink-profile {
  color: #ff3b3f;
  font-size: 2.5rem;
  margin: 1rem 1rem 0 1rem;
}

a {
  font-size: small;
  color: #00000073;
}

h2 {
  margin: 1vh 2vw;
}

h3 {
  margin: -.8rem 0 2vh 0;
  color: #00000073;
}

.save-btn {
  margin: 1vh;
  border-radius: 14px;
  height: 2.5em;
  width: 60vw;
  background-color: coral;
  border: none;
  box-shadow: 0 1px 2px #282c34;
  font-weight: bold;
}

.num-list,
.type-list {
  margin-bottom: 1em;
  padding: .25em;
  height: 4vh;
  width: 34vw;
  border-top: 1px solid green;
  border-bottom: 1px solid coral;
  letter-spacing: .15em;
  text-align: center;
  border-radius: 14px;
}

.test-link,
select,
.submit-btn {
  margin: 0 .5rem 0 .5rem;
}

.link-container {
  margin-bottom: 1vh;
}
