.ennealink-login {
  color: #ff3b3f;
  font-size: 2.5rem;
  margin: 1rem 1rem 1rem 1rem;
}
  
.login-container {
  width: 100vw;
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in, .create-account {
  background-color: #caebf2;
  height: 40vh;
  margin: 10vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 3px #00000073;
}

.sign-in-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 60%;
}

.login-input {
  margin: 1vh;
  border-radius: 14px;
  height: 2em;
  border: none;
  box-shadow: 0 1px 2px #282c34;
  padding-left: .7rem;
}

.password {
  margin-bottom: 1rem;
}

.submit-btn, .create-btn {
  border-radius: 14px;
  height: 2em;
  background-color: coral;
  border: none;
  box-shadow: 0 1px 2px #282c34;
  font-weight: bold;
}

.create-btn {
  width: 60vw;
  height: 2rem;
  background-color: #76CC66;
  margin: 2rem 1rem 1rem 1rem;
}

h1 {
  color: #ff3b3f;
}
